/* Utilities and WP Default classes */
.screen-reader-text {
  @extend .sr-only;
}
.entry-content {
  .alignnone, .aligncenter, .alignright, .alignleft {
    margin-top: ($line-height-computed / 2);
    margin-bottom: ($line-height-computed / 2);
  }
  .aligncenter {
    @extend .center-block;
  }
  .alignright {
    @extend .pull-right;
    margin-left: ($line-height-computed / 2);
  }
  .alignleft {
    @extend .pull-left;
    margin-right: ($line-height-computed / 2);
  }
  .wp-caption {
    @extend .thumbnail;
  }
  .wp-caption p.wp-caption-text {
    @extend .caption;
  }
}