.navbar-icon {
  @extend .hidden-sm, .hidden-xs;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  color: $navbar-default-bg;
  background-color: $navbar-default-color;
  margin-right: 5px;
  @include box-sizing(border-box);
  @include size(40px,40px);
  text-align: center;
  a:hover & {
    background-color: $navbar-default-link-hover-color;
  }
  .active &, .active a:hover & {
    color: $navbar-default-link-active-bg;
    background-color: $navbar-default-link-active-color;
  }
}
li {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: {
      top: 10px;
      bottom: 0;
    }
  }
}
.navbar-brand {
  display: block;
  height: 60px;
  width: 40px * (214px / 82px) + 30px;
  @include text-hide();
  background: {
    origin: content-box;
    repeat: no-repeat;
    size: contain;
    image: url('../img/pipeline-logo.png');
  }
  @media screen and (min-width: $screen-sm-min) {
    display: none;
    .home & {
      display: block;
      height: 40px;
      width: (214px / 82px) * 20px + 30px;
    }
  }
  @media screen and (min-width: $screen-md-min) {
    .home &{
      height: 60px;
      width: (214px / 82px) * 40px + 30px;
    }
  }
}
.navbar-toggle {
  margin: {
    top: 13px;
    bottom: 13px;
  }
}
.home-callout {
  background-color: lighten($gray-light, 10%);
  padding: 15px;
  margin: 20px 0;
  border-radius: $border-radius-large;
  .callout-body {
    background-color: white;
    // border: darken($gray-light, 10%) 1px solid;
    @include box-shadow(0 0 10px darken($gray-light, 10%));
    padding: 10px 20px;
    li {
      border-bottom: lighten($gray-light, 10%) 1px solid;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .callout-title {
    color: #fff;
    margin-top: 0;
  }
}
*:focus:not(a):not(input):not(select):not(textarea):not(button) {
  outline: 0;
}