.widget-area {
  .widget {
    @extend .panel, .panel-default;
    @include box-shadow(0 0 20px rgba(0,0,0,0.1));
    border: 1px solid $navbar-default-border;
    .home & {
      @extend .panel-info;
    }
  }
  .widget-title {
    @extend .panel-heading;
    padding:{
      top: $panel-body-padding;
      left: $panel-body-padding;
      right: $panel-body-padding;
    }
    margin: {
      top: 0;
      bottom: 0;
    }
  }
  .widget-content {
    @extend .panel-body;
  }
}