@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,400,700);

@import "variables";
@import "../vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

#page {
  @extend .container;
  margin: {
    top: 40px;
    bottom: 40px;
  }
  background:{
    color: #fff; // IE8 doesn't do rgba
    color: rgba(255,255,255,0.85);
  }
  @include box-shadow(0px 0px 40px rgba(0,0,0,0.4));
}
.screen-reader-text {
  @extend .sr-only;
}

.navbar {
  font: {
    family: $headings-font-family;
    weight: 400;
    size: 20px;
  }
  @include box-shadow(0 0 20px rgba(0,0,0,0.1));
}

.site-footer {
  margin-top: 20px;
  padding: {
    top: 20px;
    bottom: 20px;
  }
  border: {
    top: 2px darken(#fff, 15%) solid;
  }
}

.site-content {
  @extend .row;
}

.widget-area {
  @extend .col-sm-3;
  .home & {
    @extend .col-sm-5, .col-sm-push-7;
  }
}

.content-area {
  @extend .col-sm-9;
  .home & {
    @extend .col-sm-7, .col-sm-pull-5;
  }
}

.widget {
  @extend .panel;
  @include box-shadow(0 0 20px rgba(0,0,0,0.1));
  border: 1px solid $navbar-default-border;
}
.widget-title {
  @extend .panel-heading;
}
.widget-content {
  @extend .panel-body;
}

/* Forms */
.gform_wrapper .gform_body > ul {
  @extend .list-unstyled;
  .gfield:not(.captcha) {
    &.gfield_error { @extend .has-error; }
    .gfield_label { @extend .control-label; }
    @extend .form-group;
    margin-bottom: 10px;
    input:not([type=checkbox]), textarea, select {
      @extend .form-control;
    }
  }
  .ginput_complex {
    @extend .row;
    .ginput_left, .ginput_right { @extend .col-sm-6; @extend .col-xs-12; @extend .col-lg-6; @extend .col-md-12; }
    label { font-weight: normal; margin-bottom: 0; }
    input:focus + label { font-weight: bold; }
  }
  #recaptcha_area { margin: 0 auto; }
}
.gform_button {
  @extend .btn;
  @extend .btn-block;
  @extend .btn-primary;
  @extend .btn-lg;
}
.validation_error {
  @extend .alert;
  @extend .alert-danger;
}
.validation_message {
  @extend .label;
  @extend .label-danger;
}
.gfield_required { color: $alert-danger-text; }
.gfield_checkbox {
  @extend .list-unstyled;
  li {
    label {
      font-weight: normal;
    }
    input[type=checkbox]:checked + label {
      font-weight: bold;
    }
    input[type=checkbox] {
      margin-right: 5px;
    }
  }
}
.gform_validation_container {
  display: none;
}